@import "base.css";
@import "swiper.min.css";
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #e2e1e1;
}
::-webkit-scrollbar-thumb {
  background-color: #cea54f;
}
::-webkit-scrollbar-track {
  background-color: #e2e1e1;
}
header {
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 2;
}
header h1 {
  font-size: 0;
  visibility: hidden;
  text-indent: -9999px;
}
header .logo {
  float: left;
  margin-top: 24px;
}
header .logo a {
  display: block;
  width: 154px;
  height: 42px;
  background: url(../images/logo_nav.png) no-repeat;
}
header .nav {
  margin-top: 28px;
}
header .nav nav {
  position: relative;
  font-size: 16px;
}
header .nav span.abg {
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 22px;
  height: 34px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .nav li {
  float: left;
  position: relative;
  z-index: 2;
}
header .nav a {
  color: #cea54f;
  display: block;
  font-size: 16px;
  padding: 0 22px;
  line-height: 34px;
}
footer {
  background-color: #1b1b1b;
}
footer .footer-top {
  padding: 60px 0 50px;
  border-bottom: 1px solid #0c0c0c;
}
footer .footer-nav {
  float: left;
  padding-right: 196px;
  border-right: 1px solid #2a2a2a;
}
footer .footer-nav li {
  text-align: center;
}
footer .footer-nav a {
  display: block;
  color: #cecece;
  line-height: 32px;
  border-bottom: 1px solid transparent;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}
footer .footer-nav a.active,
footer .footer-nav a:hover {
  color: #cea54f;
  border-bottom: 1px solid #cea54f;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}
footer .footer-logo {
  float: left;
  padding-left: 160px;
  padding-right: 216px;
  border-left: 1px solid #0c0c0c;
  border-right: 1px solid #2a2a2a;
}
footer .footer-contact {
  float: left;
  padding-left: 80px;
  border-left: 1px solid #0c0c0c;
}
footer .footer-contact .footer-contact-item {
  margin-bottom: 30px;
}
footer .footer-contact .footer-contact-item:after {
  content: '';
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
footer .footer-contact i {
  color: #cea54f;
  display: block;
  float: left;
  font-size: 20px;
}
footer .footer-contact p {
  float: left;
  margin-left: 15px;
  width: 200px;
  font-size: 14px;
  color: #cecece;
  line-height: 20px;
}
footer .footer-contact .qrcode {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 15px;
}
footer .footer-contact span {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #969696;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin-left: 8px;
  margin-top: 11px;
}
footer .copyright {
  border-top: 1px solid #2a2a2a;
  text-align: center;
  padding: 18px 0;
}
footer .copyright p,
footer .copyright a {
  font-size: 14px;
  line-height: 38px;
  color: #888;
}
.banner .swiper-pagination {
  bottom: 20px;
}
.banner .swiper-pagination-bullet {
  width: 40px;
  height: 3px;
  margin: 0 3px;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 0;
  opacity: 1;
}
.banner .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #cea54f;
}
.introduce {
  padding: 50px 0 30px;
  background-color: #f7f8f8;
}
.introduce .title {
  text-align: center;
  font-size: 36px;
  color: #444;
  margin-bottom: 30px;
}
.introduce .desc {
  text-align: center;
  font-size: 36px;
  color: #cea54f;
  margin-bottom: 90px;
}
.introduce .swiper-slide {
  height: 275px;
}
.introduce .introduce-swiper {
  position: relative;
}
.introduce .swiper-pagination {
  left: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.introduce .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #bfbfbf;
  opacity: 1;
  margin: 0 5px;
  outline: none;
}
.introduce .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #cea54f;
}
.introduce .swiper-slide {
  position: relative;
}
.introduce .swiper-slide:before {
  content: '';
  display: block;
  width: 1px;
  height: 235px;
  background-color: #dcdcdc;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
